{% extends 'seguimientoApp/base.html' %}

{% block title %}
    Gestionar Vehículos
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Mantencion</h2>
                        <a href="{% url 'crear_mantencion' %}" class="btn btn-success">Agregar Mantencion</a>
                        <a href="{% url 'mantencion' %}" class="btn btn-primary">Volver</a>
                        <table class="table mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Observacion</th>
                                    <th scope="col">Costo</th>
                                    <th scope="col">Personal</th>
                                    <th scope="col">Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mantencion in mantenimientos %}
                                    <tr>
                                        <td>{{ mantencion.tipo_mantenimiento }}</td>
                                        <td>{{ mantencion.fecha }}</td>
                                        <td>{{ mantencion.notas }}</td>
                                        <td>{{ mantencion.costo }}</td>
                                        <td>{{ mantencion.personal.nombre }} {{ mantencion.personal.apellido_p }}</td>
                                        <td>
                                            <a href="{% url 'editar_mantencion' mantencion.id %}" class="btn btn-primary">Editar</a>
                                            <a href="{% url 'eliminar_mantencion' mantencion.id %}" class="btn btn-danger">Eliminar</a> 
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
