{% extends 'seguimientoApp/base.html' %}

{% block title %}
    Lista de Vehículos
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="mb-4">Lista de Vehículos</h2>

        <div class="card-group">
            {% for vehiculo in vehiculos %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Marca:</strong>{{ vehiculo.marca }}</h5>
                        <p class="card-text"><strong>Modelo:</strong> {{ vehiculo.modelo }}</p>
                        <p class="card-text"><strong>Número de Placa:</strong> {{ vehiculo.numero_ppu }}</p>
                        <a href="{% url 'detalle_vehiculo' vehiculo.id %}" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        

        <div class="text-center mt-5">
            <a href="{% url 'gestionar_vehiculos' %}" class="btn btn-secondary">Gestionar Vehículos</a>
            <a href="{% url 'panel' %}" class="btn btn-primary">Volver</a>
        </div>
    </div>


{% endblock %}
